.nav {
  display: flex;

  &.navVertical {
    flex-direction: column;
  }
}

.nav__link {
  display: inline-block;
  padding: 15px;
  color: var(--hm-text);
  font-weight: bold;
  text-decoration: none;

  &:hover,
  &:active,
  &:focus {
    color: inherit;
    text-decoration: none;
  }

  &.nav__linkActive {
    color: var(--hm-primary);
  }
}
