{
  "rules": {
    "at-rule-empty-line-before": [
      "always",
      {
        "except": ["blockless-group", "first-nested"],
        "ignore": ["after-comment"]
      }
    ],
    "at-rule-no-vendor-prefix": true,

    "block-no-empty": true,

    "color-hex-length": "long",
    "color-named": "never",
    "color-no-invalid-hex": true,

    "comment-empty-line-before": "always",
    "comment-whitespace-inside": "always",

    "custom-media-pattern": "seed-.+",
    "custom-property-pattern": "seed-.+",

    "declaration-no-important": true,

    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-block-single-line-max-declarations": 1,

    "font-family-name-quotes": "single-where-recommended",

    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "function-name-case": "lower",

    "max-nesting-depth": [
      3,
      {
        "ignore": ["at-rules-without-declaration-blocks"]
      }
    ],
    "no-duplicate-selectors": true,
    "no-invalid-double-slash-comments": true,
    "no-unknown-animations": true,

    "media-feature-name-no-vendor-prefix": true,

    "number-max-precision": 3,

    "property-no-vendor-prefix": true,

    "selector-no-vendor-prefix": true,
    "selector-pseudo-element-colon-notation": "single",
    "selector-type-case": "lower",

    "shorthand-property-no-redundant-values": true,

    "string-no-newline": true,

    "unit-no-unknown": true,

    "value-keyword-case": "lower",

    "value-no-vendor-prefix": true
  }
}
