:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --normal-color-dark: #e6e6e6;
  --progress-bg: #333333;
  --main-color: #459ce7;
  --red-color: #d30e21;
  --main-bg-dark: #232323;
  --second-bg-dark: #333333;
  --second-hover-dark: #3c3b3b;

  --table-vertical-spacing: 0.5rem;

  --appbar-bg-light: #e5e5e5;
  --appbar-color-light: #555555;
}
