.viewLibrary {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
}

.viewMessage {
  display: flex;
  height: 100%;
  padding-top: 300px;
  justify-content: center;
  align-items: center;
}

.footerStyles {
  width: 100%;
  height: 36px;
}
