.viewLibrary {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  height: calc(100vp - 50px);
}

.viewMessage {
  display: flex;
  height: 100%;
  padding-top: 300px;
  justify-content: center;
  align-items: center;
}
