.settingSection {
  width: 100%;
  border-bottom: solid 1px var(--mantine-color-default-border);
  margin-top: 20px;
}

.settingTitle {
  font-weight: bold;
  color: var(--normal-color-dark);
  font-size: 1.4rem;
  margin: 10px;
}

.settingDescription {
  font-weight: bold;
  font-size: 1.2rem;
}

.settingAction {
  display: flex;
  align-items: center;
}

.settingLabel {
  display: block;
  color: var(--mantine-color-dark-2);
  font-size: 0.85rem;
}

.settingSelect,
.settingInput {
  display: block;
  color: var(--input-color);
  background-color: var(--second-bg-dark);
  border: solid 1px var(--mantine-color-default-border);
  border-radius: var(--mantine-radius-default);
  padding: 8px 12px;
  width: 100%;
  line-height: 1;

  &:focus {
    outline: none;
    border-color: var(--mantine-color-dimmed);
  }
}

.settingError {
  color: red;
}
