.playerRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: rgba(17, 24, 39, 0.7);
  gap: 0.5rem;
}

.playerCover {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerControls {
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-right: 20px;
}

.playerWaveform {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(31, 41, 55, 0.5);
  justify-content: center;
  align-items: center;
}
