.controls {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.trackInfo {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.playerControls {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* AIDEV-NOTE: Icon color states - adapt to light/dark theme */
.iconActive {
  color: var(--hm-danger);
}

.iconInactive {
  color: var(--hm-text-secondary);
}
