.headerRoot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  /* background-color: #202b36; */
  background-color: var(--main-bg-dark);
  gap: 0.5rem;
}

.controls {
  height: 100%;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.coverImage {
  min-width: 100px;
  min-height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playerWaveform {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: var(--second-bg-dark);
  justify-content: center;
  align-items: center;
}
