.checkbox {
  input[type='checkbox'] {
    appearance: none;
    width: 16px;
    height: 16px;
    border-radius: var(--hm-button-radius);
    display: inline-block;
    background-color: var(--hm-bg-input);
    border: 1px solid var(--hm-border);
    outline: none;
    vertical-align: sub;
    position: relative;
    margin-right: 6px;

    &:focus {
      box-shadow: 0 0 0 3px var(--hm-border);
    }

    &:checked {
      background-color: var(--hm-primary);

      &::after {
        content: '\f00c';
        /* stylelint-disable-next-line */
        font-family: FontAwesome;
        font-size: 10px;
        color: var(--hm-text-on-primary);
        position: absolute;
        top: 3px;
        left: 3px;
      }
    }
  }
}
