.viewDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  min-height: 500px;
  width: 100%;
}

.detailsRight {
  width: 600px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.detailsLeft {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.detailsCover {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rating {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailsActions {
  display: flex;
  justify-content: space-between;
}

.albumRow {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.detailRow {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  & input {
    text-align: center;
  }
}
