.footerRoot {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  background-color: var(--hm-bg-elevated);
  color: var(--hm-primary);
  font-size: 0.75rem;
}
