.fullMessage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  font-size: 1.25rem;
  padding: 30px;
  margin: auto;
  text-align: center;
  color: var(--hm-text-secondary);

  a {
    text-decoration: none;
    color: var(--hm-primary);

    &:hover {
      text-decoration: underline;
      color: var(--hm-primary-hover);
    }
  }

  button {
    cursor: pointer;
    font-size: 1em;
    color: var(--hm-primary);
    text-decoration: none;
    font-weight: normal;
    background: none;
    border: none;

    &:hover {
      color: var(--hm-primary-hover);
    }
  }
}

.subMessage {
  font-size: 70%;
  color: var(--hm-text-muted);
}
