.wave-player-root {
  width: 100%;
  height: 100%;
  padding-bottom: 10px;
}

.wave-form-container {
  cursor: pointer;
  position: relative;

  &:hover {
    .hover-wave {
      opacity: 1;
    }
  }
}

.hover-wave {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  pointer-events: none;
  height: 100%;
  width: 0;
  mix-blend-mode: overlay;
  background: var(--hm-primary-light);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.time,
.duration {
  position: absolute;
  z-index: 11;
  top: 50%;
  margin-top: -1px;
  transform: translateY(-50%);
  font-size: 0.75rem;
  background: light-dark(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.75));
  padding: 2px 4px;
  border-radius: 2px;
  color: light-dark(#ffffff, var(--hm-text-secondary));
}

.time {
  left: 0;
}

.duration {
  right: 0;
}
