.rootSettings {
  display: flex;
  flex-direction: column;
}

.viewSettings {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  height: 100%;
  width: 100%;
  background-color: rgba(17, 24, 39, 0.7);
}

.header {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 800px;
  padding: 0 300px;
  margin-bottom: 20px;
}

.list {
  margin-bottom: 20px;
  border-bottom: solid 1px var(--border-color);
  & > button {
    padding: 10px 50px;
    & > span {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 800px;
  padding: 0 20px;
}
