.rootSettings {
  display: flex;
  flex-direction: column;
}

.viewSettings {
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.settingsTabList {
  margin-bottom: 20px;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 800px;
  padding: 0 20px;
}
