.rootSettings {
  display: flex;
  flex-direction: column;
}

.viewSettings {
  display: flex;
  justify-content: center;
  padding-top: 30px;
  height: 100%;
  width: 100%;
}

.list {
  padding-top: 80px;
  & > button {
    padding: 10px 50px;
    & > span {
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 800px;
  padding: 0 20px;
}
