.iconRoot {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  scale: 1.5;

  & svg path {
    fill: var(--mantine-color-dark-1);

    &:hover {
      fill: var(--mantine-color-dark-0);
    }
  }
}
