.footerRoot {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10px;
  background-color: rgba(31, 41, 55, 0.8);
  color: var(--primary-color);
  font-size: 0.75rem;
}
