.root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mainContent {
  width: 100%;
  flex: 1 1 auto;
  height: calc(100vh - 64px);
}

.headerContent {
  flex: none;
  width: 100%;
  height: 100px;
}

.playerContent {
  flex: none;
  width: 100%;
  height: 64px;
  border-top: 1px solid var(--mantine-color-gray-7);
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
}

.view,
.columns {
  height: 100%;
  max-height: 100%;
}

.view {
  background-color: var(--mantine-color-body);
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}
