.root {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-dark);
}

.mainLayout {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: rgba(17, 24, 39, 0.7);
  overflow: hidden;
}

.contentArea {
  flex: 1;
  overflow: auto;
}

.headerContent {
  flex: none;
  width: 100%;
}

.playerContent {
  flex: none;
  width: 100%;
  height: 64px;
  border-top: 1px solid var(--border-color);
}

.content {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
}

.view,
.columns {
  height: 100%;
  max-height: 100%;
}

.view {
  background-color: transparent;
  flex: 1 1 auto;
  overflow: auto;
  position: relative;
}
