.viewDetails {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.detailsForm {
  width: 600px;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
}

.detailsCover {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.detailsActions {
  display: flex;
  justify-content: space-between;
}

.albumRow {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.detailRow {
  display: flex;
  justify-content: space-between;
  gap: 50px;

  & input {
    text-align: center;
  }
}
