.rootSettings {
  display: flex;
  flex-direction: column;
}

.viewSettings {
  display: flex;
  justify-content: center;
  padding-top: 150px;
}

.settings__nav {
  padding: 0 30px;
  width: 150px;
  margin-left: -150px;
}

.settings__content {
  padding: 10px 15px;
  width: 400px;
  max-width: calc(100% - 170px);
}

.settingsBtns {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
}
