@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  box-sizing: border-box;
  padding: 1rem;
  margin: 0;
  font-family: 'Inter', sans-serif;
  color: #e9e9e3;
  background-color: #404040;
}

#arts-container {
  height: 100%;
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(15rem, 1fr));
  justify-items: center;
}

img {
  border: 1px solid #404040;
  border-radius: 8px;
  height: 15rem;
  width: 15rem;
  transition: transform 0.2s; /* Animation */
}

img:hover {
  transform: scale(1.1);
  cursor: pointer;
}
