@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.ag-theme-alpine {
  --ag-foreground-color: #eeeeee;
  --ag-background-color: #23292b;
  --ag-odd-row-background-color: #2e3436;
  --ag-row-border-color: transparent;
  --ag-row-hover-color: #796868;
  --ag-header-background-color: #23292b;
  --ag-borders: none;
}

.ag-theme-alpine .ag-cell {
  --ag-borders: none;
}


.ag-menu-option-active {
  background-color: #2661ad;
  color: white;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}