.volumeControl {
  width: 60%;
  min-width: 150px;
  display: flex;
  gap: 10px;
  align-items: center;
}

.volumeSlider {
  width: 100%;
  min-width: 100px;
}

.muteBtn {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--main-bg-dark);
  color: var(--main-text);
  cursor: pointer;
}
